/* colors

Prussian blue: #0b3c5d (Dark blue)
Sky Blue: #328cc1 (light blue)
Gold Leaf #D98310 (Gold)
Ivory Black (Dark blue): #1d2731

*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #0F1626 !important;
    color: #FFFFFF !important;    
    /* background-image: url("../images/redbgsmall.jpg"); */
    /* font-weight: bold; */
    font-family: 'Vollkorn', serif !important;
    font-size: 24px;
}

::selection {
    background: #328cc1;
    color: #d98310;
}

#linkGold a:link {
    color: #FFDF00 !important;
}

#linkGold a:visited {
    color: #FFDF00 !important;
}

#linkGold a:active {
    color: #FFDF00 !important;
}

#linkGold a:hover {
    color: #FFDF00 !important;
    text-decoration: underline;
}

a, a:visited, a:active {
    color: #FFDF00 !important;
}

a:hover {
    transition: 0.3s;
    color: #FFDF00;
}

.colbb {
    
    background-color: #328cc1;
    /* padding: 25px 0px 25px 0px; */
    box-shadow: 1px 0px 5px 3px #F7CE3E, inset 1px 0px 5px #000;

}

.colbc {
    background-color: #0b3c5d;
    box-shadow: 1px 0px 5px 3px #D98310, inset 1px 0px 5px #000;
}

.spcpls {
    padding: 10px;
}

.title {
    /* color: #671601; */
    color: #FFDF00;
    text-shadow: 2px 2px 2px #000;
}

.section-title {
    color: #FFDF00;
    text-decoration: underline;
}

#top::after {
    margin-bottom: 25px;
}

nav {
     padding-top: 10px;
}

nav > ul {
    list-style-type: none;
    display: inline-block;
}

nav > ul > li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

nav > ul > li > a {
    padding: 5px 10px;
    margin: 2px 5px;
    display: inline-block;
}

nav > ul > li > a:hover {
    text-decoration: underline;
    transition: 0.3s;
    
}

#imageholder {
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: inline-block;
}

.banner-img {
    width: 100%;
    height: auto;
}

div > p {
    text-indent: 35px;
}

.disclaimer {
    text-decoration: underline;
    font-weight: bold;
}

.ulindent {
    padding-left: 25px;
}

#linkGold a:link, a:visited, a:active {
    color: #FFDF00;
}

#linkGold a:visited {
    color: #FFDF00;
}

#linkGold a:active {
    color: #FFDF00;
}

#linkGold a:hover {
    color: #FFDF00;
    text-decoration: underline;
}

.text-indent {
    text-indent: 25px;
}

.ul-dub-indent {
    padding-left: 60px;
}